@import "normalize.scss";

@mixin colors($bg, $fn) {
    :root {
        --bg: #{$bg};
        --muted: #{call($fn, $bg, 15)};
        --dark: #{call($fn, $bg, 30)};
        --half: #{call($fn, $bg, 43)};
        --fg: #{call($fn, $bg, 80)};
    }
}

@include colors(#fbfbfb, get-function(darken));

:root {
    --hbg: #4c60ff;
    --hfg: #fff;
}

html {
    background: var(--bg);
    color: var(--fg);
    font-family: arial, sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 40em;
    padding: 0 1em;
    width: 100%;
}

.error {
    $bg: #d20313;
    $line-spacing: 0.25em;
    $spacing: 1em;

    background: $bg;
    border-radius: $spacing;
    box-sizing: border-box;
    color: lighten($bg, 50);
    margin: 1em 0;
    padding: $spacing - $line-spacing $spacing;

    & > * {
        margin: $line-spacing 0;
    }
}

.logo {
    display: block;
    height: auto;
    margin: 3em auto;
    width: 60%;
}

.search {
    $border: var(--dark);
    $radius: 1.5em;

    border-radius: $radius;
    border: 1px solid $border;
    display: flex;
    height: 3em;
    margin: 2em 0;

    &:focus-within {
        box-shadow: 0 0 0.4em var(--muted);
    }

    & > [type="search"],
    & > [type="reset"],
    & > [type="submit"] {
        background: none;
        border: none;
        color: var(--fg);
    }

    & > [type="search"] {
        width: 100%;
        padding: 0 $radius;

        &:focus {
            outline: none;
        }
    }

    & > [type="reset"],
    & > [type="submit"] {
        cursor: pointer;
    }

    & > [type="reset"] {
        font-size: 2em;
        width: 2em;
    }

    & > [type="submit"] {
        border-left: 1px solid $border;
        border-radius: 0 $radius $radius 0;
        padding: 0 $radius;
        transition: background 0.1s, color 0.1s;

        &:hover,
        &:focus {
            background: var(--hbg);
            color: var(--hfg);
        }
    }

    & > [type="search"]:placeholder-shown + [type="reset"] {
        display: none;
    }
}

.results {
    list-style-type: none;
    padding: 0;
    margin: 1em;

    & > li {
        margin-bottom: 1.5em;

        & > a {
            text-decoration: none;

            & > small {
                color: var(--fg);
                display: block;
                font-size: 0.9em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            & > h3 {
                color: var(--hbg);
                display: block;
                font-weight: normal;
                margin: 0 0 0.2em;
                padding: 0.3em 0 0;
            }

            &:hover > h3,
            &:focus > h3 {
                text-decoration: underline;
            }
        }

        & > p {
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media (prefers-color-scheme: dark) {
    @include colors(#1a1a1a, get-function(lighten));

    .logo {
        filter: invert(100%) brightness(85%);
    }

    .search {
        background: var(--muted);

        &:focus-within {
            box-shadow: 0 0 0.4em var(--half);
        }
    }
}
