@import "modern-normalize.scss";

@mixin colors($bg, $fn) {
    --bg: #{$bg};
    --muted: #{call($fn, $bg, 15)};
    --dark: #{call($fn, $bg, 30)};
    --half: #{call($fn, $bg, 53)};
    --fg: #{call($fn, $bg, 80)};
}

:root {
    @include colors(#fbfbfb, get-function(darken));
    --hbg: #4c60ff;
    --hfg: #fff;
}

html {
    background: var(--bg);
    color: var(--fg);
}

body {
    margin: 0 auto;
    max-width: 40em;
    padding: 0 1em;
    width: 100%;
}

img {
    max-width: 100%;
}

.error {
    $bg: #d20313;
    $line-spacing: 0.25em;
    $spacing: 1em;

    background: $bg;
    border-radius: $spacing;
    color: lighten($bg, 52);
    margin: 1em;
    padding: $spacing - $line-spacing $spacing;

    & > * {
        margin: $line-spacing 0;
    }
}

.logo {
    display: block;
    height: auto;
    margin: 3em auto;
    width: 60%;
}

.search {
    $border: var(--dark);
    $radius: 1.5em;

    border-radius: $radius;
    border: 1px solid $border;
    display: flex;
    height: 3em;
    margin: 2em 0 .75em;

    &:focus-within {
        box-shadow: 0 0 0.4em var(--muted);
    }

    & > [type="search"],
    & > [type="reset"],
    & > [type="submit"] {
        background: none;
        border: none;
        color: var(--fg);
    }

    & > [type="search"] {
        width: 100%;
        padding: 0 $radius;

        &:focus {
            outline: none;
        }
    }

    & > [type="reset"],
    & > [type="submit"] {
        cursor: pointer;
    }

    & > [type="reset"] {
        font-size: 2em;
        width: 2em;
    }

    & > [type="submit"] {
        border-left: 1px solid $border;
        border-radius: 0 $radius $radius 0;
        padding: 0 $radius;
        transition: background 0.1s, color 0.1s;

        &:hover,
        &:focus {
            background: var(--hbg);
            color: var(--hfg);
        }
    }

    & > [type="search"]:placeholder-shown + [type="reset"] {
        display: none;
    }
}

.options {
    margin: 0 calc(.5em + 1px) 1.5em;
    display: flex;

    & > label, & > input, & > span {
        padding: .5em .6em;
    }

    & > label, & > input {
        cursor: pointer;
        border-radius: 1em;
        margin: 0 .2em;
        border: none;
        background: none;
        color: inherit;

        &:hover {
            background: var(--muted);
        }
    }

    & > input:disabled + label, & > input:disabled {
        cursor: default;
        background: var(--hbg);
        color: var(--hfg);
    }

    & > [value="1"] {
        margin-left: auto;
    }
}

.results {
    list-style-type: none;
    padding: 0;
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25em;

    & a, & .a {
        display: block;
        text-decoration: none;
        color: var(--hbg);

        & > small {
            color: var(--fg);
            display: block;
            font-size: 0.9em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        & > h3 {
            font-weight: normal;
            margin: 0 0 0.2em;
            padding: 0.3em 0 0;
        }

        &:hover > h3,
        &:focus > h3 {
            text-decoration: underline;
        }
    }

    & small {
        color: var(--half);
    }

    & > .web, & > .answer {
        grid-column: 1 / span 2;
    }

    & > .web > p {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & > .image {
        place-self: center;
    }

    & > .answer {
        background: var(--muted);
        padding: 0.5em;
        border-radius: 0.25em;

        & > p {
            margin: 0 0 0.5em;
        }

        & > small {
            float: right;
        }
    }
}

.no-results {
    margin: 1em;
}

#loading {
    &:not(.htmx-request), &.htmx-request + #target {
        display: none;
    }

    & span {
        color: transparent !important;
        border-radius: .25em;
        display: block;
        height: 1.03lh;
        padding: calc(round(.59lh, .5px) - .515lh) 0;
        background: var(--muted);
        background-clip: content-box;
        max-width: 100%;
    }
}

table {
    text-align: left;

    & th, & td {
        padding: .5em;
    }

    th, tr:nth-child(even) {
        background: var(--muted);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include colors(#1a1a1a, get-function(lighten));
    }

    .logo {
        filter: invert(100%) brightness(85%);
    }

    .search {
        background: var(--muted);

        &:focus-within {
            box-shadow: 0 0 0.4em var(--half);
        }
    }
}
