{% extends "base.html" %}

{% block content %}
<form action="{{ url_for("search") }}" class="search">
    <input type="search" name="q" placeholder="Durchsuche das Web..." value="{{ query }}" required>
    <input type="reset" value="&times;" onclick="event.preventDefault();document.getElementsByName('q')[0].value = ''">
    <input type="submit" value="Suchen">
</form>
<ul class="results">
    {% for result in results %}
    <li>
        <a href="{{ result.url }}">
            <small>{{ result.url }}</small><br>
            <h3>{{ result.title }}</h3>
        </a>
        <p>{{ result.text }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
