{% extends "base.html" %}

{% block content %}
<form action="{{ url_for("search") }}" class="search">
    <input type="search" name="q" placeholder="{{ _("Search the web...") }}" value="{{ query }}" required>
    <input type="reset" value="&times;" onclick="event.preventDefault();document.getElementsByName('q')[0].value = ''">
    <input type="submit" value="{{ _("Search") }}">
</form>
<ul class="results">
    {% for rated_result in results %}
    <li>
        <a href="{{ rated_result.result.url }}">
            <small>{{ rated_result.result.url }}</small>
            <h3>{{ rated_result.result.title | highlight(parsed_query) }}</h3>
        </a>
        {% if not rated_result.result.text is none %}
        <p>{{ rated_result.result.text | highlight(parsed_query) }}</p>
        {% endif %}
        <small>{{ "{:.1f}".format(rated_result.rating) }} - {{ rated_result.engines | map(attribute="__name__") | sort | join(" ") }}</small>
    </li>
    {% endfor %}
</ul>
{% if engine_errors %}
<div class="error">
    <h4>{{ _("Error") }}</h4>
    <ul>
        {% for error in engine_errors %}
        <li>{{ error[0].__name__ }}: {{ error[1] }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
