{% extends "base.html" %}

{% block content %}
<form action="{{ url_for("search") }}" class="search">
    <input type="search" name="q" placeholder="{{ _("Search the web...") }}" value="{{ query }}" required>
    <input type="reset" value="&times;" onclick="event.preventDefault();document.getElementsByName('q')[0].value = ''">
    <input type="submit" value="{{ _("Search") }}">
</form>
<ul class="results">
    {% for result in results %}
    <li>
        {% if mode.value == "web" %}
        <a href="{{ result.url }}">
            <small>{{ result.url | pretty_url }}</small>
            <h3>{{ result.title | highlight(parsed_query) }}</h3>
        </a>
        {% if not result.text is none %}
        <p>{{ result.text | highlight(parsed_query) }}</p>
        {% endif %}
        {% elif mode.value == "images" %}
        <a href="{{ result.url }}">
            <img src="{{ result.src }}"{% if not result.text is none %} alt="{{ result.text }}"{% endif %}>
            <h3>{{ result.title | highlight(parsed_query) }}</h3>
        </a>
        {% else %}
        <p>Unsupported search mode: {{ mode }}</p>
        {% endif %}
        <small>{{ "{:.1f}".format(result.rating) }} - {{ result.engines | map(attribute="__name__") | sort | join(" ") }}</small>
    </li>
    {% endfor %}
</ul>
{% if engine_errors %}
<div class="error">
    <h4>{{ _("Error") }}</h4>
    <ul>
        {% for error in engine_errors %}
        <li>{{ error[0].__name__ }}: {{ error[1] }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
