{% extends "base.html" %}

{% block content %}
<form action="{{ url_for("search") }}" class="search">
    <input type="search" name="q" placeholder="{{ _("Search the web...") }}" value="{{ query }}" required>
    <input type="reset" value="&times;" onclick="event.preventDefault();document.getElementsByName('q')[0].value = ''">
    <input type="submit" value="{{ _("Search") }}">
</form>
<ul class="results">
    {% for result in results %}
    <li>
        <a href="{{ result.url }}">
            <small>{{ result.url }}</small>
            <h3>{{ result.title | highlight(parsed_query) }}</h3>
        </a>
        <p>{{ result.text | highlight(parsed_query) }}</p>
    </li>
    {% endfor %}
</ul>
{% if engine_errors %}
<div class="error">
    <h4>{{ _("Error") }}</h4>
    <ul>
        {% for error in engine_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
