{% extends form_base %}

{% block content %}
{% block before %}
{% endblock %}
<form action="{{ url_for("results") }}" hx-get="{{ url_for("search") }}" hx-target="body" hx-push-url="true" hx-on::send-error="this.submit()" hx-on::response-error="this.submit()">
    <div class="search">
        <input type="search" name="q" placeholder="{{ _("Search the web...") }}" value="{{ query }}" required>
        <input type="reset" value="&times;" onclick="event.preventDefault();document.getElementsByName('q')[0].value=''">
        <input type="submit" value="{{ _("Search") }}">
    </div>
    {% block form_extra %}
    <input type="hidden" name="mode" value="{{ SearchMode.WEB.value }}">
    <input type="hidden" name="page" value="1">
    {% endblock %}
</form>
{% block after %}
{% endblock %}
{% endblock %}
