{% extends "form.html" %}

{% block form_extra %}
<input type="hidden" name="mode" value="{{ mode.value }}">
<div class="options">
    {% for m in SearchMode %}
    <input type="submit" name="mode" value="{{ m.value.capitalize() }}"{% if m == mode %} disabled{% endif %}>
    {% endfor %}
    {% if page < 5 %}
    {% for i in range(1, 6) %}
    <input type="submit" name="page" value="{{ i }}"{% if page == i %} disabled{% endif %}>
    {% endfor %}
    {% else %}
    <input type="submit" name="page" value="1">
    <span>&hellip;</span>
    {% if page < 9 %}
    <input type="submit" name="page" value="{{ page - 1 }}">
    <input type="submit" name="page" value="{{ page }}" disabled>
    <input type="submit" name="page" value="{{ page + 1 }}">
    {% else %}
    <input type="submit" name="page" value="{{ page - 2 }}">
    <input type="submit" name="page" value="{{ page - 1 }}">
    <input type="submit" name="page" value="{{ page }}" disabled>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block after %}
<ul class="results" id="loading">
    {% for _ in range(10) %}
    {% if mode == SearchMode.IMAGES %}
    <li class="image">
        <a>
            <span style="width: {{ loop.cycle(10, 12, 11) }}em; height: {{ loop.cycle(10, 8, 9, 11, 12) }}em"></span>
        </a>
        <small><span style="width: {{ loop.cycle(8, 6, 6) }}em"></span></small>
    </li>
    {% else %}
    <li class="web">
        <a>
            <small><span style="width: {{ loop.cycle(20, 16, 20) }}em"></span></small>
            <h3><span style="width: {{ loop.cycle(37, 22, 34, 24) }}em"></span></h3>
        </a>
        <p>
            <span style="width: {{ loop.cycle(98, 99, 95) }}%"></span>
            {% if loop.cycle(true, false, true) %}
            <span style="width: {{ loop.cycle(99, 95, 95) }}%"></span>
            {% endif %}
            <span style="width: {{ loop.cycle(88, 85, 89) }}%"></span>
        </p>
        <small><span style="width: {{ loop.cycle(8, 6, 6) }}em"></span></small>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% set url = url_for("results") | string + "?" + {"q": query, "mode": mode.value, "page": page} | urlencode %}
<div id="target" hx-get="{{ url }}" hx-swap="outerHTML" hx-trigger="load" hx-indicator="#loading" hx-on::send-error="window.location=this.getAttribute('hx-get')" hx-on::response-error="window.location=this.getAttribute('hx-get')"></div>
<noscript>
    <meta http-equiv="refresh" content="0;url={{ url }}">
</noscript>
{% endblock %}
