{% extends "base.html" %}

{% block content %}
<form action="{{ url_for("search") }}">
    <div class="search">
        <input type="search" name="q" placeholder="{{ _("Search the web...") }}" value="{{ query }}" required>
        <input type="reset" value="&times;" onclick="event.preventDefault();document.getElementsByName('q')[0].value=''">
        <input type="submit" value="{{ _("Search") }}">
    </div>
    <div class="modes">
        {% for m in SearchMode %}
        <input type="radio" name="mode" value="{{ m.value }}" id="{{ m.value }}" {% if m == mode %}checked{% else %}onchange="document.getElementsByTagName('form')[0].submit()"{% endif %}>
        <label for="{{ m.value }}">{{ _(m.value) }}</label>
        {% endfor %}
    </div>
</form>
<ul class="results">
    {% for r in results %}<li class="{{ r.result_type() }}">
        {% if r.result_type() == "web" %}
        <a href="{{ r.result.url }}">
            <small>{{ r.result.url | pretty_url }}</small>
            <h3>{{ r.result.title | highlight(parsed_query) }}</h3>
        </a>
        {% if not r.result.text is none %}
        <p>{{ r.result.text | highlight(parsed_query) }}</p>
        {% endif %}
        {% elif r.result_type() == "image" %}
        <a href="{{ r.result.url }}">
            <img src="{{ r.result.src | proxy }}" title="{{ r.result.title }}"{% if not r.result.text is none %} alt="{{ r.result.text }}"{% endif %}>
        </a>
        {% elif r.result_type() == "answer" %}
        <p>{{ r.result.answer }}</p>
        <a href="{{ r.result.url }}">{{ r.result.url.host }}</a>
        {% endif %}
        <small>{{ "{:.1f}".format(r.rating) }} - {{ r.engines | map(attribute="__name__") | sort | join(" ") }}</small>
    </li>{% endfor %}
</ul>
{% if engine_errors %}
<div class="error">
    <h4>{{ _("Error") }}</h4>
    <ul>
        {% for error in engine_errors %}
        <li>{{ error.engine.__name__ }}: {{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
